# supp
supp/
fulldata/
fulldata_analysis/
eeg_pipeline
matlab_R2025b_Linux

# data
data/
*.nedf
*.avi
*.bin
*.gpkg 

# python
__pycache__/
.ipynb_checkpoints

# environments
.env
*.log

# random
do_eye.ipynb